.DS_Store
.sass-cache
bin
public/uc
public/assets
tmp
db/openid-store
db/*sqlite3
db/sphinx
script/sync
log/
public/javascripts/all.js
public/stylesheets/cache-tmp
public/javascripts/cache-tmp
public/stylesheets/cache
public/javascripts/cache
.bundle
vendor/bundle
